[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Terminal=true
Actions=ToggleVisibility;
Icon=visibility
Name=hideitems
Name[nl]=Items verbergen
Name[fr]=Masquer éléments
Name[de]=Elemente ausblenden
Name[es]=Ocultar elementos
Name[it]=Nascondi elementi
Name[pt]=Ocultar itens
Name[pt_BR]=Ocultar itens
Name[ru]=Скрыть элементы
Name[zh_CN]=隐藏项目
Name[zh_TW]=隱藏項目
Name[ja]=項目を非表示
Name[ar]=إخفاء العناصر
Name[pl]=Ukryj elementy
Name[sv]=Dölj objekt
Name[tr]=Öğeleri gizle
Name[uk]=Приховати елементи
Comment=Toggle the visibility of selected items
Comment[nl]=Zichtbaarheid van geselecteerde items aanpassen
Comment[fr]=Basculer la visibilité des éléments sélectionnés
Comment[de]=Sichtbarkeit ausgewählter Elemente umschalten
Comment[es]=Alternar visibilidad de elementos seleccionados
Comment[it]=Attiva/disattiva visibilità elementi selezionati
Comment[pt]=Alternar visibilidade dos itens selecionados
Comment[pt_BR]=Alternar visibilidade dos itens selecionados
Comment[ru]=Переключить видимость выбранных элементов
Comment[zh_CN]=切换选定项目的可见性
Comment[zh_TW]=切換選定項目的可見性
Comment[ja]=選択した項目の表示を切り替え
Comment[ar]=تبديل رؤية العناصر المحددة
Comment[pl]=Przełącz widoczność wybranych elementów
Comment[sv]=Växla synlighet för valda objekt
Comment[tr]=Seçili öğelerin görünürlüğünü değiştir
Comment[uk]=Перемкнути видимість вибраних елементів
Version=v1.01
Author=claudemods

[Desktop Action ToggleVisibility]
Name=Toggle Visibility
Name[nl]=Zichtbaarheid aanpassen
Name[fr]=Basculer la visibilité
Name[de]=Sichtbarkeit umschalten
Name[es]=Alternar visibilidad
Name[it]=Attiva/disattiva visibilità
Name[pt]=Alternar visibilidade
Name[pt_BR]=Alternar visibilidade
Name[ru]=Переключить видимость
Name[zh_CN]=切换可见性
Name[zh_TW]=切換可見性
Name[ja]=表示の切り替え
Name[ar]=تبديل الرؤية
Name[pl]=Przełącz widoczność
Name[sv]=Växla synlighet
Name[tr]=Görünürlüğü değiştir
Name[uk]=Перемкнути видимість
Icon=visibility
Exec=pkexec /home/$USER/.local/share/kio/servicemenus/toggle-visibility.sh
